* {
    padding: 0;
        margin: 0;
    list-style: none;
    box-sizing: border-box;
}

/* conteneur bande de navigation */
nav {
    display: flex;
    width: 100%;
    align-items: center;
        border: solid 2px;
        border-color: #d1b872;
        border-radius: 10px;
        font-family: monospace;
        color: rgb(141, 19, 19);
}

/* conteneur logo  */
.nav-left {
    width: 15%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
/* logo */
.nav-left>img {
    width: 100%;
    min-width: 80px;
    border-radius: 10px;
    }
    
/* conteneur ul */
.nav-middle {
    width: 70%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
/* ul */
.nav-middle>ul {
    display: flex;
    width: 100%;
    align-items: center;
        justify-content: space-around;
        text-align: center;
}

.nav-middle>ul>li>a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}
/* conteneur bouton de connexion */
.nav-right {
    width: 15%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

/* bouton de connexion */
.nav-right>button {
    width: 80px;
    font-family: monospace;
    font-weight: bolder;
}